* {
  outline: 1px solid red;
}
* {
  box-sizing: border-box;
}
body {
  /* background-color: #fafafa; */
  background-color: #ddd;
  /* GOOGLE字型 */
  font-family: "Noto Sans TC", sans-serif;
  /* 網頁瀏覽流動字體_(程式碼) */
  /* font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (2000 - 300))); */
}
/* 頁面內容 */
.container {
  max-width: 1364px;
  height: auto;
  margin: 0 auto;
  /* 左右間隙 */
  padding-left: 10vw;
  padding-right: 10vw;
  position: relative;
  z-index: 2;
}
/* 黃曲線色塊背景 */
.bgi-01 {
  position: absolute;
  width: 851.5px;
  height: 768px;
  background-size: contain;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/bg_home.svg?raw=true");
  top: 0px;
  right: 0px;
  background-repeat: no-repeat;
  z-index: -1;
}
/* 背景底圖(右黃曲，左藍球、右藍球，左黃球) */
.container {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/ball01.svg?raw=true") -230px
      518px,
    url("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/ball02.svg?raw=true")
      1156px 1764px,
    url("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/ball03.svg?raw=true")
      50px 2750px;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 1px solid #efefef;
}
img {
  width: 100%;
  height: auto;
}
/* 置頂(GoTop) */
.gotop > img {
  width: 71px;
  height: 71px;
  position: absolute;
  top: 520px;
  right: 48px;
  z-index: 1;
}

/* 表頭(Logo + 方案費用按鈕) */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 表頭(Logo) */
.logo-top > img {
  width: 218px;
  height: auto;
}
/* 表頭(方案費用按鈕) */
.case-cost {
  width: 128px;
  display: flex;
  align-items: center;
}
.case-cost p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 128px;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
}
a.link {
  text-decoration: none;
  border-radius: 20px;
  background-color: #ff5d50;
}
a.link:hover {
  border-radius: 20px;
  background-color: #56c4c5;
}

/* Banner(左側Slogan + 右側圖) */
.banner {
  display: flex;
  justify-content: space-between;
  height: 534px;
  height: auto;
  margin-bottom: 18%;
}
/* Banner(左側Slogan) */
.solgan {
  width: 451px;
  display: flex;
  align-items: center;
}
.solgan-item-1 {
  font-size: 18px;
  font-weight: bold;
  color: #56c4c5;
  line-height: 2;
}
.solgan-item-2 {
  font-size: 48px;
  font-weight: bold;
  color: #221e1f;
  width: 432px;
  line-height: 1.25;
}
.solgan-item-3 {
  font-size: 20px;
  color: #22 1e1f;
  line-height: 2;
}
/* Banner(右側圖) */
.banner-img {
  width: 532px;
  display: flex;
  justify-content: flex-end;
}
.banner-img > img {
  width: 100%;
  height: auto;
}

/* 三大平台，我來搞定 */
.social-media {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}
/* Facebook + LINE + IG */
.media-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10vh;
}
.Facebook,
.LINE,
.IG {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
}

.Facebook img,
.LINE img,
.IG img {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
}
.Facebook h2,
.LINE h2,
.IG h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 24px 0;
  color: #221e1f;
}
.Facebook p,
.LINE p,
.IG p {
  /* width: 32%; */
  font-size: 16px;
  color: #747474;
  text-align: center;
  line-height: 1.5;
}
/* 任何的角色，我都能給 */
.any-actor {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18px;
}
.actor-slogan {
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
}
.actor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.actor-01,
.actor-02,
.actor-03,
.actor-04 {
  display: flex;
  flex-direction: column;
  width: 24%;
}
.actor-01 img,
.actor-02 img,
.actor-03 img,
.actor-04 img {
  max-width: 260px;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.actor-01 h2,
.actor-02 h2,
.actor-03 h2,
.actor-04 h2 {
  color: #56c4c5;
  font-size: 16px;
  font-weight: bold;
}
.actor-01 p,
.actor-02 p,
.actor-03 p,
.actor-04 p {
  /* width: 94%; */
  font-size: 16px;
  color: #747474;
  text-align: center;
  line-height: 1.5;
  padding: 15px;
  text-align: center;
}
/* 信息欄位 */
.info {
}
.infleft {
}
.info-right {
}
/* ================================= 768px 尺寸 ================================= */
@media (max-width: 768px) {
  .container {
    /* 左右間隙 */
    padding-left: 7%;
    padding-right: 7%;
  }
  /* 黃曲線色塊背景 */
  .bgi-01 {
    position: absolute;
    width: 426px;
    height: 384px;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/bg_home.svg?raw=true");
    top: 0;
    right: 0;
    z-index: -1;
  }
  /* 表頭(Logo) */
  .logo-top > img {
    width: 180px;
    height: auto;
  }
  /* Banner(左側Slogan + 右側圖) */
  .banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  /* Banner(右側圖) */
  .banner-img {
    width: 320px;
    height: auto;
  }
  /* Facebook + LINE + IG */
  .social-media {
    margin-bottom: 32px;
  }
  .media-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .Facebook,
  .LINE,
  .IG {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .Facebook h2,
  .LINE h2,
  .IG h2 {
    padding: 14px 0;
  }
  .Facebook,
  .LINE,
  .IG {
    margin-bottom: 24px;
  }
  /* 任何的角色，我都能給 */
  .actor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .actor-01,
  .actor-02,
  .actor-03,
  .actor-04 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
}
